/.ipynb_checkpoints/Stitching-FreeStandingTests-MicroLensArray-checkpoint.ipynb
/.ipynb_checkpoints/Stitching-GroovedSerpentinMixer-checkpoint.ipynb
/.ipynb_checkpoints/Stitching-Stanford-Dragon-checkpoint.ipynb
